{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-primary text-white">
    <h4>Delay Entry Form</h4>
</div>

<div class="card-body">

<form method="POST">
    {% csrf_token %}

    <!-- SHOP -->
    <label>Shop Code</label>
    <input type="text" name="shop_code" class="form-control" required>

    <label class="mt-2">Shop Description</label>
    <input type="text" name="shop_desc" class="form-control" required>

    <!-- EQUIPMENT -->
    <label class="mt-2">Equipment Name</label>
    <input type="text" name="eqpt_name" class="form-control" required>

    <!-- SUB EQUIPMENT -->
    <label class="mt-2">Sub Equipment Name</label>
    <input type="text" name="sub_eqpt_name" class="form-control" required>

    <!-- AGENCY -->
    <label class="mt-2">Agency</label>
    <select name="agency" class="form-select" required>
        <option>Operations</option>
        <option>Mechanical</option>
        <option>Electrical</option>
        <option>Shutdown</option>
    </select>

    <!-- TIME -->
    <label class="mt-2">Delay From</label>
    <input type="datetime-local" name="delay_from" id="from" class="form-control" required>

    <label class="mt-2">Delay Upto</label>
    <input type="datetime-local" name="delay_upto" id="to" class="form-control" required>

    <!-- DURATION -->
    <label class="mt-2">Delay Duration</label>
    <input type="text" id="duration" class="form-control" readonly>

    <!-- DESCRIPTION -->
    <label class="mt-2">Delay Description</label>
    <textarea name="delay_desc" class="form-control" rows="4"></textarea>

    <button class="btn btn-success mt-3">
        Submit
    </button>

    <a href="/delay/list/" class="btn btn-secondary mt-3">
        View List
    </a>

</form>

</div>
</div>
</div>

<!-- JS for duration calculation -->
<script>
function calculateDuration() {

    let from = document.getElementById("from").value;
    let to = document.getElementById("to").value;

    if (from && to) {

        let d1 = new Date(from);
        let d2 = new Date(to);

        let diff = d2 - d1;

        if (diff < 0) {
            document.getElementById("duration").value = "Invalid Time";
            return;
        }

        let hours = Math.floor(diff / (1000 * 60 * 60));
        let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));

        document.getElementById("duration").value =
            hours + " Hours " + minutes + " Minutes";
    }
}

document.getElementById("from").addEventListener("change", calculateDuration);
document.getElementById("to").addEventListener("change", calculateDuration);
</script>

{% endblock %}